/* Основной фон приложения */
.root {
    -fx-background-color: #ffffff;
}

/* Стили для бокового меню */
.menu-item {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-padding: 10px;
    -fx-text-fill: #ffffff;
    -fx-alignment: CENTER_LEFT;
    -fx-cursor: hand;
}

.menu-item:hover {
    -fx-background-color: #EDE9F7;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.main-button {
    -fx-background-color: #604AD0;
    -fx-text-fill: #fffff;
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.profile-button {
    -fx-background-color: #604AD0;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.logout-button {
    -fx-background-color: #604AD0;
    -fx-background-radius: 10;
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
    -fx-cursor: hand;
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 16px;
}

/* Стили для карточек клиник */
.clinic-card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 15, 0, 0, 0);
    -fx-cursor: hand;
}

.clinic-card:hover {
    -fx-background-color: #F8F9FB;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 20, 0, 0, 0);
}

/* Стили для карточек записей */
.appointment-card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 15, 0, 0, 0);

}

.appointment-card:hover {
    -fx-background-color: #F8F9FB;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 20, 0, 0, 0);
}

/* Стили для кнопки "Записаться" в карточке и окне деталей */
.book-button {
    -fx-background-radius: 20;
    -fx-padding: 5px 15px;
    -fx-cursor: hand;
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 12px;
    -fx-text-fill: #ffffff;
}

.reschedule-button {
    -fx-background-color: #604AD0;
    -fx-text-fill: white;
    -fx-cursor: hand;

}

.delete-button {
    -fx-background-color: #F4F7FC;
    -fx-text-fill: #0A1C40;
    -fx-cursor: hand;
}

.book-button:hover {
    -fx-background-color: #4F3CB8;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

/* Стили для панели поиска и фильтров */
.search-field {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-padding: 10px;
    -fx-border-color: transparent;
}

.filter-combo, .location-combo {
    -fx-background-color: #C5D9FF;
    -fx-background-radius: 20px;
    -fx-padding: 5px;
    -fx-cursor: hand;
}

.apply-button {
    -fx-background-color: #604AD0;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-padding: 5px 15px;
    -fx-cursor: hand;
}

.apply-button:hover {
    -fx-background-color: #4F3CB8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

/* Стили для текста в карточках и окнах */
.label-bold {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.label-normal {
    -fx-font-size: 12px;
}

/* Стили для ScrollPane */
.scroll-pane {
    -fx-visibility: true;
    -fx-background-color: transparent;
}

/* Стили для меток */
.label-medium {
    -fx-font-family: "Poppins SemiBold";
    -fx-font-size: 18px;
}

.label-regular {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 14px;
}

/* Авторизация окно */
.log-in-button {
    -fx-cursor: hand;
}

.loginasavet {
    -fx-cursor: hand;
}

.sign-in {
    -fx-cursor: hand;
}